.jumbotron {
	background-image: url('https://image.shutterstock.com/image-illustration/close-3d-microscopic-blue-bacteria-600w-524613634.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
} 